#navigation{
    height: 6vh;
    background-color: rgb(151, 136, 107);

    .navbar-brand{
        cursor: pointer;
    }
    .navbar-toggler{
        color: #000;
        background-color: #f9f9f9;
    }
    // LOGO 
    b{
        color:#f9f9f9;
    }
    #navbarContent{
        height: 100%;
        width: 100vw;
        z-index: 200;
        height: auto;
        padding:5px 0;  
        ul{
            height: 100%;
        }
        ul > li a{
            color:#f9f9f9;
            font-weight: 600;
            padding: 5px 15px;
        }
        ul > li {
            // background-color: #f9f9f9;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(128, 113, 83);
            &:hover{
                cursor: pointer;
                background-color: #f9f9f92d;
            }
        }
    }
    #navigationRow{
        height: 100%;
    }
}



.imHere{
    border:3px solid #fafafa;
    border-radius: 50%;
}

