/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    margin:0;
    padding:0;
    background-color: #f9f9f9;
    color:#f9f9f9;
    font-family: 'Amaranth', sans-serif;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
