@import '../../scss/_mixins.scss';
@import '../../scss/_keyframes.scss';
html{
    
  scroll-behavior: smooth;
}
#wholeContainer{
    max-height: 100vh;
    font-family: 'Amaranth', sans-serif;

    // background: rgb(79,221,255);
    // background: linear-gradient(146deg, rgba(79,221,255,0.9415967070421919) 0%, rgba(133,207,236,1) 18%, rgba(150,144,177,1) 50%, rgba(149,92,191,1) 83%, rgba(156,6,255,1) 100%);
    background: linear-gradient(to bottom, #cfcfcf, #8b8b8b, #cfcfcf);
    #navbarContent{
        ul > li a{
            color:#000;
        }
    }
    
    #heroPage{
        height: 94vh;
        width: 100%;
        color:#f9f9f9;
        background-size: 400% 400%;
        animation:animateBg 10s ease infinite;
        position: relative;
        // background-color: blue;
        #heroText{
            display:flex;
            padding-top:1%;
            padding-left:2%;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            // background-color: #000;
            
            
            h1{
                line-height: 90%;
                z-index: 200;
                margin-bottom:5% ;
                white-space: nowrap;
                position: relative;
                color:#f9f9f9;
                animation: animateText 0.5s ease;
                // -webkit-text-stroke: 2px #f9f9f9; 
                font-size:80px;
                @include respectFont(40px, 70px, 85px, 80px, 90px);

            }
            p{
                color: rgb(22, 22, 22);
                font-weight: lighter;
                animation-delay: 2s;
                animation: animateText 0.5s ease;   
                @include respectFont(18px, 18px, 22px, 22px, 22px);
                z-index: 40000;
                line-height: 120%;
            }
            #checkOfferBTN{
                width: 40%;
                height: 50px;
                border: none;
                background-color:rgba(178, 34, 34, 0.473);
                box-shadow: 4px 3px 2px 0 rgba(97, 8, 8, 0.76);
                z-index: 40000;

                &:hover{
                    background-color: firebrick;
                    box-shadow: 4px 3px 8px 2px firebrick
                    
                }
                
            }
        }
        #heroHero{
            // PHOTO BY natasa-grabovac
            background-image: url('../../assets/knight1.PNG');
            // background-color: #000;
            background-size: 150% 150%;
            background-repeat: no-repeat;
            // animation: knightAnime 5s ease infinite;
            @media only screen and (min-width:577px) {
                transition: 1s;
            }
            @media only screen and (max-width:576px) {
                position: absolute;
                top:0;
                height: 95vh;
            }
            // perspective: 5.5cm;
        }
    }
}


.clickedBtn{
    background-size: 220% 220%;
}